@media (min-width:48rem){
  #menu{display:none}
  .nav{display:block !important}
  .nav ul{display:flex; gap:.9rem; margin:0; align-items:center}

  main{max-width:1100px; margin-inline:auto}

  /* 3 columns grid on wide screens */
  #members.grid{grid-template-columns:repeat(3,1fr)}
}
